.headerOperationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px;
  user-select: none;
  .operations {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .hidden {
      visibility: hidden;
    }
  }
}

.visible {
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transform: translateX(50%);
  transition: transform 1s ease-in-out;
}

.hidden {
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(30%);
  transition: transform 1s ease-in-out;
}
