.headerOperationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px;
  user-select: none;
  .operations {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .hidden {
      visibility: hidden;
    }
  }
}

.todoList-enter {
  z-index: 10;
  opacity: 0;
  transform: translateX(-60%) !important;
}

.todoList-enter-active {
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) !important;
  transition: all 0.25s ease-in-out;
}

.todoList-exit {
  z-index: 0;
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) !important;
}

.todoList-exit-active {
  z-index: 0;
  opacity: 0;
  transform: translateX(-60%) !important;
  transition: all 0.25s ease-in-out;
}

.todoList-exit-done {
  z-index: 0;
  visibility: hidden;
}
