.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;

  box-sizing: border-box;
  height: 150px;
  border-radius: 8px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    color: whitesmoke;
    align-self: center;
  }

  .headerOperationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
    .operations {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .hidden {
        visibility: hidden;
      }
    }
  }
}
